# dependencies
node_modules/

# Next.js build output
.next/
out/

# TypeScript incremental build info
tsconfig.tsbuildinfo
*.tsbuildinfo

# env files
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# OS
.DS_Store
Thumbs.db
desktop.ini

.vercel
